<header class="members-header container">
  {{#if isLoggedIn}}
    <a href="/logout">
      <button type="button" name="button">Log out</button>
    </a>
  {{else}}
    <a href="/login">
      <button type="button" name="button">Log in with Github to add a member</button>
    </a>
  {{/if}}
  <h1>{{title}}</h1>
  <p>{{description}}</p>
  {{#if isLoggedIn}}
  <section class="credentials">
    <p class="greeting">Hello, {{user}}</p>
    <img class="avatar" src={{imgUrl}} />
  </section>
  {{/if}}
</header>
