<ul class="member-list container">
  {{#each members}}

  <li>
    <img class='mem-img' src={{this.description}} alt={{this.name}}+"'s avatar"></img>
    <h2>{{this.name}}</h2>
    <h4>{{this.position}}</h4>
    <h4>{{this.location}}</h4>
    <h4>{{this.languages}}</h4>
  </li>
  {{/each }}
</ul>
