<ul class="member-list container">
  {{#each members}}

  <li>
    <a href={{this.position}}>
    <img class='mem-img' src={{this.description}} alt={{this.name}}+"'s avatar"></img></a>
    <h2>{{this.name}}</h2>
    <a href={{this.location}}>Organisations</a>
  </li>
  {{/each }}
</ul>
