<ul>
  {{#each members}}

  <li>
    <h2>{{this.name}}</h2>
    <h4>{{this.position}}</h4>
    <h4>{{this.location}}</h4>
    <h4>{{this.description}}</h4>
    <h4>{{this.languages}}</h4>
  </li>
  {{/each }}
</ul>
